body, input, textarea {
    font-family: 'Inter', sans-serif;
    color: black;
    font-style: normal;
}



.container {
    width: 320px;
}

.list {
    list-style-type: none;
}

/* HEADER */

.header {

}

.header-nav {

}

.header-logo {

}

.header-ul {

}

.header-li {

}

.header-main {

}

.hero-title {

}

.hero-title-paragraph {

}

.hero-ul {

}

.hero-li {

}

.modal-btn-open {

}

.js-open-menu {

}

.open-svg {

}

.js-menu-container {

}

.js-close-menu {

}

.close-icon {

}

.header-nav-mobile {

}

.header-logo-mobile {

}

.header-ul-mobile {

}

.header-li-mobile-home {

}

.header-li-mobile {

}

/* KEY FEATURES */

.features {

}

.features-title {

}

.features-paragraph {

}

.features-main-img {

}

.features-advantages {

}

.features-advantages-ul {

}

.features-advantages-li {

}

.features-advantages-img {

}

.features-advantages-title {

}

.features-advantages-paragraph {

}

/* VIDEO */

.video {

}

.video-main {

}

.video- {

}

.phone-video {

}

.phone-video-img {

}

.display-video-img {

}

/* OUR TEAM */

.team {

}

.team-title {

}

.team-paragraph {

}

.team-ul {

}

.team-li {

}

.team-member-img {

}

.team-member-name {

}

.team-member-post {

}

/* TESTEMONIALS */

.testimonials {

}

.testimonials-title {

}

.testimonials-img {

}

.testimonials-name {

}

.testimonials-comp {

}

.testimonials-about {

}

.testimonials-svg {

}

/* CONTACT */

.contact {

}

.contact-content {

}

.contact-title {

}

.contact-div-form {

}

.contact-form {

}

.input-name {

}

.input-email {

}

.textarea {

}

.btn-submit {

}

.contact-link {

}

.contact-link-title {

}

.contact-link-paragraph {

}

.contact-link-svg {

}

.contact-link-address {

}

.contact-link-phone {

}

.contact-link-email {

}

/* FOTTER */

.footer {

}

.footer-paragraph {

}

/* MODAL WINDOW */

.backdrop {

}

.modal {

}

.modal-btn-close {

}

.modal-main-content {

}

.modal-plan-one {

}

.modal-plan-icon-main {

}

.modal-plan-title {

}

.modal-plan-list {

}

.modal-plan-item {

}

.modal-plan-paragraph {

}

.modal-plan-two {

}

.modal-paragraph {

}

.modal-about {

}

.modal-about-one {

}

.modal-about-list {

}

.modal-about-item {

}

.modal-about-icon {

}

.modal-about-text {

}

.modal-about-title {

}

.modal-about-paragraph {

}

.modal-about-two {

}

.modal-btn-download {

}